<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mondora.asteroid" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>asteroid-todo</name>
    <description>
        Demo todo application.
    </description>
    <author email="paolo.scanferla@mondora.com" href="https://mondora.com">
		Paolo Scanferla
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
